@import "../../sass/base/variables";


// Bloc
.heroContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 110px;
  overflow: hidden;
  border-radius: 10px;

  // Élément : Texte
  &__text {
    position: absolute;
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: $white-color;
    z-index: 1;
    margin: 0 0 0 16px;
  }

  // Élément : Illustration
  &__illustration {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    transform: scale(1.85);
  }
}
