

// Variables SCSS pour les couleurs
$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$background-dark: #000000;
$light-color: #FFFFFF;
$black-color: #000000;
$white-color: #FFFFFF;
$dark-grey: #C4C4C4;
$light-grey: #E3E3E3;
