// main.scss
@import '../components/Tags/tags';
@import 'base/variables';
@import 'base/typography';
@import '../components/Header/header';
@import 'components/buttons';
@import '../components/Card/cards';
@import '../pages/Home/home';
@import '../components/HeroSection/hero-section';
@import '../pages/404/404';
@import '../components/Dropdown/dropdown';
@import '../pages/Accommodations/accommodations';
