@import '../../sass/base/variables';


.title-location {
  width: 89.33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: $primary-color;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin: 15px 0;
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: $primary-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin: 0 0 10px 0;

  }
}
