@import "../base/_variables.scss";


.page-404 {
  display: flex;
  width: 375px;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  gap: 113px;

  &__toHome {
    color: $primary-color;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration-line: underline;
  }

  &__title {
    width: 198px;
    height: 99px;
    color: $primary-color;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
  }

  &__description {
    color: $primary-color;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }

  &__error {
    width: 52.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 0 auto;
  }
}
