@import "../base/_variables.scss";

// CardContainer
.CardContainer {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
}

// CardImage
.CardImage {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

// Card
.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 10px;

  & p {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: $white-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin: 0;
  }
}
