@import "../base/_variables.scss";


.dropdown {
  width: 100%;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__button-container {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    background: $primary-color;
  }

  &__button-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    background: $primary-color;
    border: none;
    outline: none;
    color: $white-color;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 0 10px 10px;
  }

  &__text-content-frame {
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    text-align: justify;
    background: $secondary-color;
    z-index: 99999;

    &.is-visible {
      display: block;
    }
  }

  &__text-content {
    color: $primary-color;
    font-family: Montserrat, sans-serif;
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
  }

  &__arrow {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
    width: 32px;
    height: 32px;
    flex-shrink: 0;

    &.is-visible {
      transform: rotate(180deg);
    }
  }


}
