@import "../base/_variables.scss";


.footer {
  &__container {
    display: flex;
    width: 100%;
    height: 209px;
    margin-top: 27px;
    padding: 66px 120.313px 58px 121.094px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: -0.444px;
    background: $black-color;
  }

  &__logo-svg {
    width: 122px;
    height: 39.444px;
    flex-shrink: 0;

    & path {
      fill: $white-color;
    }
  }

  &__paragraphe {
    display: flex;
    width: 100%;
    height: 46px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;

    color: $white-color;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}
